.header{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}

td{
    white-space: nowrap;
    width: 1%;
    max-width: 20em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}

th{
    width: 12em; 
    border: 1px solid #000000;
}

p{
    overflow: hidden;
    text-overflow: ellipsis; 
}

body {
    font-family: Arial;
    margin:0;
    background-image: url("../img/background.png");
}

.photo img{
    max-width: 100px;
    max-height: 100px;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 4em;
    background: #c0c0c0;
}

.active {
    background-color: blue;
    color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    background-color: gray;
    border: 1px solid #ccc;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
    margin-left: 1%;
}

.inputarea{
    margin-left: 1%;
    width:98%;
}

.link{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right:40%;
}

/***** FOOTER *****/
.footer_copy{
    font-family: 'Unica One', cursive;
    bottom: 0;
    width: 100%;
    padding:10px 0;
    font-size:13px;
    color: #FFF;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.9);
}